@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";



/* src/index.css or src/App.css */
@font-face {
  font-family: 'CS Bristol';
  src: url('./fonts/csbristol-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CS Bristol';
  src: url('./fonts/csbristol-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

*{
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #ffffff;
  color: #222;
  transition: background 0.3s, color 0.3s;
}
body.dark {
  background: #181e29;
  color: #f3f3f3;
}